*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root{
--_gray-background: rgb(233, 234, 235);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar{
    background-color: rgb(43, 169, 227);
    display: grid;
    grid-template-rows: 1fr 11fr;
    color: white;
    padding-left: 8px;
}

.dashboard-logo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-self: stretch;
}

.logo, .dashboard-logo p{
    width: 100%;
    flex: 1;
    align-self: center;
}

.dashboard-logo p{
    align-self: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.menu ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}
.menu li{
    list-style-type: none;
    line-height: 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 20px 50px;
}

.header-top{
    display: grid;
    grid-auto-flow: column;
}

.icon{
    width: 100%;
    align-self: center;
    justify-self: center;
    width: 2rem;
}

.search{
    display: grid;
    grid-template-columns: min-content 500px;
    justify-self: stretch;
    gap: 5px;
}

.search-bar{
    height: 2rem;
    background-color: var(--_gray-background);
    border-radius: 15px;
    justify-self: stretch;
    align-self: center;
}

.user-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-self: end;
    gap: 25px;
}


.user-profile p{
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
}


.header-bottom{
    display: grid;
    grid-auto-flow: column;
}

.user-welcome{
    display: grid;
    grid-auto-flow:column;
}

.welcome-text{
    display: grid;
    grid-auto-flow: row;
}

.main-body{
    background-color: var(--_gray-background);
    display: grid;
    grid-auto-flow: row;
}

.body-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 0 50px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}


.card{
    background-color: white;
    padding: 5px;
}

.anncouncement-trending-container{
    display: grid;
    grid-auto-flow: row;
    gap: 50px;
}

.announcement-trending-wrapper div {
    background-color: white;
    padding: 5px;
}