*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root{
--_gray-background: rgb(233, 234, 235);
--_blue-background:rgb(43, 169, 227);
--_blue-hover: rgb(106, 190, 228);
}

body{
    margin: 0;
    padding: 0;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 4fr; 
}

.side-bar{
    background-color: var(--_blue-background);
}

.side-bar ul{
    list-style: none;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 2px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-item:not(.logo-item):hover{
    background-color: var(--_blue-hover);
    border-radius: 4px;
}

.menu-item p{
    justify-self: start;
    height: 100%;
    align-content: center;
    grid-column: 2;
    color: white;
    font-weight: 600;
}

.menu-item:not(.logo){
    font-size: 1.2rem;
}

.menu-icon, logo-icon{
    grid-column: 1;
    fill: white;
    justify-self: center;

}

.logo-icon{
    width: min(100%, 5rem);
}

.menu-icon{
    width: min(100%, 1.5rem);
    justify-self: center;
}

.logo{
    font-size: 2rem;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 20px 50px;
    gap: 20px;
}

.header-controls{
    display: grid;
    grid-auto-flow: column;
}

.icon{
    width: 100%;
    align-self: center;
    justify-self: center;
    width: 2rem;
    cursor: pointer;
    transition: fill 0.3s ease;
}

.icon:hover{
    fill: gray;
}

.search{
    display: grid;
    grid-template-columns: min-content 500px;
    justify-self: stretch;
    gap: 5px;
}

.search-bar{
    height: 2rem;
    background-color: var(--_gray-background);
    border-radius: 15px;
    justify-self: stretch;
    align-self: center;
    border: none;
    outline: none;
    padding-left: 1rem;
}

.user-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-self: end;
    gap: 25px;
}


.user-profile p{
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
}


.header-user-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user-welcome{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.user-welcome svg{
    width: 100%;

}

.welcome-text{
    display: grid;
    grid-auto-flow: row;
    padding-left: 15px;
}

.welcome-text p, h2{
    margin: 0;
}

.welcome-text p{
    font-size: 0.8rem;
    font-weight: 700;
}

.action-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    gap: 5px;
}

.action-buttons button{
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: var(--_blue-background);
    color: white;

    height: 40px;
    width: min(100px, 100%);
    
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-buttons button:hover{
    background-color: rgb(106, 190, 228);
}

.main-body{
    background-color: var(--_gray-background);
    display: grid;
    grid-auto-flow: row;
    gap: 40px;
}

.section-title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.body-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 0 50px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}


.card{
    background-color: white;
    padding: 5px;
}

.anncouncement-trending-container{
    display: grid;
    grid-auto-flow: row;
    gap: 50px;
}

.announcement-trending-section div {
    background-color: white;
    padding: 5px;
}