*{
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

:root{
--_gray-background: rgb(233, 234, 235);
--_blue-background:rgb(43, 169, 227);
--_blue-hover: rgb(106, 190, 228);
}

body{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

.sidebar{
    background-color: var(--_blue-background);
    display: grid;
    grid-template-rows: 1fr 11fr;
    color: white;
    padding-left: 8px;
}

.dashboard-logo{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-self: stretch;
}

.logo, .dashboard-logo p{
    width: 100%;
    flex: 1;
    align-self: center;
}

.dashboard-logo p{
    align-self: center;
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
}

.menu ul{
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 5px;
}
.menu li{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 100%;

    list-style-type: none;

    font-weight: 600;
    font-size: 1.2rem;

    padding: 4px;
    margin: 4px;

    cursor: pointer;
    transition: background-color 0.3s ease;  
}

.menu li>p{
    margin: 0;
    padding: 0;
    height: 100%;
    align-content: center;
}

.menu-icon{
    width: min(100%, 30px);
    justify-self: center;
    fill: white;
}

.menu li:hover{
    background-color: var(--_blue-hover);
    border-radius: 4px;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    padding: 20px 50px;
    gap: 20px;
}

.header-top{
    display: grid;
    grid-auto-flow: column;
}

.icon{
    width: 100%;
    align-self: center;
    justify-self: center;
    width: 2rem;
    cursor: pointer;
    transition: fill 0.3s ease;
}

.icon:hover{
    fill: gray;
}

.search{
    display: grid;
    grid-template-columns: min-content 500px;
    justify-self: stretch;
    gap: 5px;
}

.search-bar{
    height: 2rem;
    background-color: var(--_gray-background);
    border-radius: 15px;
    justify-self: stretch;
    align-self: center;
}

.user-profile{
    display: grid;
    grid-template-columns: 1fr 1fr 4fr;
    justify-self: end;
    gap: 25px;
}


.user-profile p{
    margin: 0;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 600;
}


.header-bottom{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.user-welcome{
    display: grid;
    grid-template-columns: 1fr 10fr;
}

.user-welcome svg{
    width: 100%;

}

.welcome-text{
    display: grid;
    grid-auto-flow: row;
    padding-left: 15px;
}

.welcome-text p, h2{
    margin: 0;
}

.welcome-text p{
    font-size: 0.8rem;
    font-weight: 700;
}

.action-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-items: center;
    gap: 5px;
}

.action-buttons button{
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: var(--_blue-background);
    color: white;

    height: 40px;
    width: min(100px, 100%);
    
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.3s ease;
}

.action-buttons button:hover{
    background-color: rgb(106, 190, 228);
}

.main-body{
    background-color: var(--_gray-background);
    display: grid;
    grid-auto-flow: row;
}

.body-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    padding: 0 50px;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}


.card{
    background-color: white;
    padding: 5px;
}

.anncouncement-trending-container{
    display: grid;
    grid-auto-flow: row;
    gap: 50px;
}

.announcement-trending-wrapper div {
    background-color: white;
    padding: 5px;
}